/* Fonts from Google Fonts - more at https://fonts.google.com */
<style>
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Ropa+Sans');
</style>
<style>
@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');
</style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: white;
  font-family: "Ropa Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  max-width: 400px; 
  margin: auto;
  color: yellow;
}

h1 {
  font-family: "Berkshire Swash", serif;
  font-size: 62px;
  max-width: 400px;
  Color: pink;   
}

ul {
  color: orange 
}
